@model IEnumerable<MVCFotos.Models.Comentario>
@{
    Layout = null;
}
<div class="row">
    <div class="col-md-offset-2 col-md-8">
        @foreach (var item in Model)
        {
            <div class="row">
                <div class="col-md-2">
                    @Html.DisplayFor(model => item.Autor)
                    @Html.DisplayFor(model => item.FechaCreacion)
                </div>
                <div class="col-md-10">
                    @Html.DisplayFor(model => item.Texto)
                </div>
            </div>
        }
    </div>
</div>
