

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>

    <link href="~/Content/Site.css" rel="stylesheet" />
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
    <link href="~/Content/bootstrap.css" rel="stylesheet" />
</head>
<body class="container body-content">
    <h1>USANDO PLANTILLA PERSONALIZADA</h1>
    <div> 
        @RenderBody()
    </div>
</body>
</html>
